/* .u-section-1 {
  min-height: 643px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 980px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-gallery-1 {
  margin-top: -30px;
  margin-bottom: -30px;
  height: 980px;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 407px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 236px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 10px 30px 30px;
}

.u-section-1 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 60px 0 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 236px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 10px 30px 30px;
}

.u-section-1 .u-icon-2 {
  height: 48px;
  width: 48px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 1px 0 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 236px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 10px 30px 30px;
}

.u-section-1 .u-icon-3 {
  height: 48px;
  width: 48px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 41px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 531px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 0%;
    min-height: 808px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 336px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 195px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 27px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 195px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 195px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 7px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 200px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 300px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }
} */
.content {
  height: auto;
}
.content .slide-content {
  height: auto;
}
.content .slide-content .image-main {
  height: 400px;
  width: 90%;
  margin: 0 auto;
  border: black 1px solid
}
.content .slide-content .image-child {
  height: 100px;
  width: 100px;
  border: black 1px solid
  }
.content .slide-content .image-carousel {
  width: 100%;
}
.content .slide-child .image-child {
  width: 140px;
  height: 140px;
  margin-inline: 12px;
}
.content .slide-child .image-child:first-child {
  margin-left: 0;
}
.content .slide-child {
  display: flex;
}
.content .detail-content {
  padding: 24px;
}
.content .detail-content .title .text {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
}
.content .detail-content .detail table {
  width: 100%;
}
.content .detail-content .detail table tr:nth-child(odd) {
  background-color: #e9edee;
}
.content .detail-content .infor .icon, .content .detail-content .infor .text{
  text-align: center;
}
.content .detail-content .infor .icon svg{
  font-size: 40px;
}