._3OM1ogaI9EXK1udHCHiMUc {
    background: #fff;
    border: 1px solid #e5e5e5;
    border-left: 0;
    border-right: 0;
    padding: 4px;
}
._3OM1ogaI9EXK1udHCHiMUc .container {
    height: 40px;
    display: block;
}
._3OM1ogaI9EXK1udHCHiMUc ._3e2PT-m5RDT4EnxcKbgxhh {
    position: relative;
}
._3OM1ogaI9EXK1udHCHiMUc ._1tSca2zuB_aJcidrHIExzn {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 40px;
}
._2p3WnWjUHsILOyrl86jwGD {
    border: none;
    background: none;
    outline: none!important;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
._3OM1ogaI9EXK1udHCHiMUc ._3A2lqRgLx1otLuE9r4xG8S {
    line-height: 40px;
}
.text-center {
    text-align: center;
}
.wXl5RTamVUQpIsQLT-GCD {
    background: #fff;
    margin-bottom: 60px;
}
._1mdvc2CcBloJ9uZbEWoqpZ {
    padding: 8px;
    padding-top: 20px;
    padding-bottom: 80px;
}
.nY9im20iq-Rva-bCJgHGR {
    background-color: #fff;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #333;
    cursor: default;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 36px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
._29qtwZnBfU4ggKBsMxnCL0 {
    background: #fff;
    position: fixed;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 8px 0;
    z-index: 999;
}
.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
}
.btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.btn-group>.btn:first-child {
    margin-left: 0;
}
.btn-group-justified>.btn, .btn-group-justified>.btn-group {
    float: none;
    display: table-cell;
    width: 1%;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33333;
    border-radius: 6px;
}
.btn-primary {
    color: #fff;
    background-color: #fe9900;
    border-color: #e58a00;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a {
    color: #fe9900;
    text-decoration: none;
}
.btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: Glyphicons Halflings;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1200px) {
    .post .container {
    width: 970px;
}  
}

@media (min-width: 992px){
    .post .container {
    width: 970px;
} 
}

@media (min-width: 768px){
    .post.container {
    width: 750px;
}
}
.Select, .Select div, .Select input, .Select span {
    box-sizing: border-box;
}

.Select--single>.Select-control .Select-value, .Select-placeholder {
    bottom: 0;
    color: #aaa;
    left: 0;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
}
._29qtwZnBfU4ggKBsMxnCL0 {
    background: #fff;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 8px 0;
    z-index: 999;
}
.btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}
.btn-group>.btn:first-child {
    margin-left: 0;
}
.btn-group-justified>.btn, .btn-group-justified>.btn-group {
    float: none;
    display: table-cell;
    width: 1%;
}
.btn-group-vertical>.btn, .btn-group>.btn {
    position: relative;
    float: left;
}
.btn-primary {
    color: #fff;
    background-color: #007BFF;
    border-color: #007BFF;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}