.cursor-pointer {
    cursor: pointer;
}

.loading-image {
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-image img {
    height :100vh
}
@media (max-width: 540px) {
    .dashboard-footer {
      display: none !important;
    }
}